*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
Views.kt
Auth.kt
Storage.kt
BaseRepoImp.kt
Converter.kt
AppModule.kt
ConstSecure.kt
HealthKitManager.kt
HealthKitManager.swift
WorkoutSessionManager.kt
WorkoutSessionManager.swift
/iosApp/iosApp/global/ui/Views.swift